// .toy-list {
//     list-style: none;
//     display: flex;
//     flex-wrap: wrap;
//     padding-left: 0;
//     gap: 0.6em;
//     margin-block: 0.6em;

//     li {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-around;
//         background-color: #94B4C1;
//         padding: 0.65em;
//     }

//     button{
//         background-color: rgb(227, 227, 213);
//         box-shadow: rgba(18, 21, 25, 0.99) 1px 1px 2px 0px;
//         border: 1px solid rgb(133, 143, 161);
//         border-radius: 5px;
//         margin-inline-start: 0.2rem;
//     }
// }

.toy-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2em;

    .btns {
        display: flex;
        justify-content: center;
        gap: 0.5em;
        margin-top: 1em;

        button {
            padding: 0.5em 1em;
            border-radius: 0.5em;
            border: none;
            background-color: #64748b;
            color: white;

            &:hover {
                background-color: darken(#64748b, 10%);
            }
        }
    }
}